apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
spec:
  replicas: 4
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: todo-frontend
        image: ghcr.io/04deepak/todo-frontend@sha256:eb37ae8dd4970ab00454021a9a7331d14fdf93bf4a36fe7c9c89f0413ae36d69
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"

            cpu: "500m"






